  <div class="wrapper ">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3"></div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-primary">
                <img class="img pull-right" src="/assets/kep.png" style="width: 90px; height: 90px; padding-top: 20px;" />
                <h4 class="card-title" style="padding-top: 20px;">Kayıt</h4>
                <p class="card-category">Otomasyon Kayıt</p>
              </div>
              <div class="card-body">
               <%=form_for @user, data: {abide: ''} do |form|%>
               <%if @user.errors.any?%>
               <div class="row panel callout radius">
                 <p>Aşağıdaki hataları düzeltip, tekrar deneyiniz.</p>
                 <ul class="square">
                   <%@user.errors.full_messages.each do |message|%>
                   <li><%=message%></li>
                   <%end%>
                 </ul>
               </div>
               <%end%>
               <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Adınız</label>
                    <%=form.text_field :first_name, class: "form-control"%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Soyadınız</label>
                    <%=form.text_field :last_name, class: "form-control"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Kullanıcı Adı</label>
                    <%=form.text_field :username, class: "form-control"%>
                  </div>
                </div>
              </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Şirket Adı</label>
                    <%=form.text_field :company_name, class: "form-control"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">E-Posta</label>
                    <%=form.email_field :email, class: "form-control"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Şifre</label>
                    <%=form.password_field :password, class: "form-control"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Şifre tekrar</label>
                    <%=form.password_field :password_confirmation,class: "form-control"%>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block ">Kayıt Ol</button>
              <%end%>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>