 <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

  <div class="logo">
    <a href="#" class="simple-text logo-normal">
      Video Portal
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="<%=profile_path(current_user)%>">
          <i class="material-icons">person</i>
          <p>Profilime Git</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=new_brand_path%>">
          <i class="material-icons">bookmarks</i>
          <p>Marka Tanımla</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=new_faultreq_path%>">
          <i class="fas fa-tools"></i>
          <p>Arıza Bildir</p>
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="<%=faultreqs_path%>">
          <i class="fas fa-tools"></i>
          <p>Arıza Bildirim Listesi</p>
        </a>
      </li>          
      <li class="nav-item">
        <a class="nav-link" href="<%=baskets_path%>">
          <i class="material-icons">shopping_basket</i>
          <p>Satış Sepet Listeleri</p>
        </a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" href="<%=technicalsupports_path%>">
          <i class="fas fa-wrench"></i>
          <p>Teknik Destek Bakım Listesi</p>
        </a>
      </li> 



      <li class="nav-item">
        <a class="nav-link" href="<%=users_path%>">
          <i class="material-icons">group</i>
          <p>Kullanıcılar</p>
        </a>
      </li>
      <%if signed_in?%>      
      <li class="nav-item ">
        <a class="nav-link" href="<%=logout_path%>"  data-method="delete">
          <i class="material-icons">power_settings_new</i>
          <p>Çıkış</p>
        </a>
      </li>
      <%end%>
    </ul>
  </div>
</div>
