<% Product.all.each do |product| %>
<%= form_for([@order, Reqitem.new], :remote=>'true', :controller => 'reqitems', :action => 'create') do |form| %>
<div class="field">
	<%=form.text_field :product_id,:value => product.id, id:"pid"%>
 <label><%=product.name%></label> <%= form.text_field :amount,id:"amount" %><%=form.submit "Ekle",id:"ekle" %>
</div>
<%end%>
<% end %>



