<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @tecnichsale.unit %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @tecnichsale.total_price %>
</p>

<%= link_to 'Edit', edit_tecnichsale_path(@tecnichsale) %> |
<%= link_to 'Back', tecnichsales_path %>
